body{
    background: black url("/assets/imgs/index.jpg") center;
}
.row{
    margin-top: 45px;
}
#info{
    color: white;
    margin-top: 85px;
}
#login_panel{
    margin-top: 60px !important;
    padding: 0px !important;
}
#login_button{
    width: 100%;
}
